@import '../base/base'

section.login
	height 100%
	padding 2.5em 0
	text-align center

	h1
	h2
		color gray
		text-align center
		margin 0.75em auto
		padding 0
	
	h1
		font-size 3.5em
	
	h2
		font-size 1.5em
		font-weight 600
	
	a
		padding 1em
		display inline-block
		vertical-align middle
		margin 1em
		text-align center
		text-decoration none
		font-size 1em
		font-weight 800
		text-transform uppercase
		border 0
		border-radius 5px
		width 20%
		color white
		min-width 270px
		
		&.twitter
			background twitter
		
		&.facebook
			background facebook
		
		span
			margin-right 2em