facebook = #3B5998
twitter = #00ACED
google = #D8432E
instagram = #35648B
gray = #333332
green = #13C7AF
lead2 = #F3F4F8
clearlead = #A8A8A8
stronglead = #D6D6D6

fontMerriweather = 'Merriweather', serif